#sidetree {
   	font-size: 18px;
	border-right: 2px solid gray;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0;   
}
#grid {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 1fr 1fr ;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-row-gap: 1em;
        grid-column-gap: 3em;
}

#grid ol {
    border-right: 2px solid gray;
    padding-left: 33px;
    padding-top: 10px;
    margin: 0;
}
.item1 {
grid-column: 1/2;
}
.item2 {
grid-column: 2/3;
}
.item3 {
grid-column: 3/4;
}
.item4 {
grid-row-start: 2;
}
.item5 {
    grid-row-start: 2;
    grid-column: 2/3;
}


#grid #article {
    padding-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2 {
	font-family: 'trebuchet ms', verdana, arial;	
}
h1 {
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

h2 {
	font-size: 40px;	
}
p {
	font-size: 20px;	
}

#active {
    color: red;
}

.saw {
    color: gray;
}

.active {
    color: red;
}


.tree{
  color:#393939;
}

.tree, .tree ul{
  list-style: none;
  padding-left:17px;
}
.tree *:before{
  width:17px;
  height:17px;
  display:inline-block;
}
.tree label{
  cursor: pointer;
}
.tree label:before{
  content:'\f256';
  font-family: fontello;
}
.tree a{
  text-decoration: none;
  color:#393939;
}
.tree a:before{
  content:'\e800';
  font-family: fontello;
}
.tree input[type="checkbox"] {
    display: none;   
}
.tree input[type="checkbox"]:checked~ul {
  display: none;
}
.tree input[type="checkbox"]:checked+label:before{
  content:'\f255';
  font-family: fontello;
} 

@media(max-width:715px) {
	#grid {
	display: block;
	}

	#grid ol {
	    border-right: none;
	}

	h1 {
	border-bottom: none;
	}

	#sidetree {
   	font-size: 15px;
	border-right: 2px solid gray;
	padding-left: 20px;
	padding-top: 10px;
	margin: 0;  
	    .item1 {
        grid-column: 1/2;
    }
}	

}
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);

figure.snip1432 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: left;
}

    figure.snip1432 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    figure.snip1432 img {
        opacity: 0.8;
        width: 100%;
        vertical-align: top;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.snip1432 figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        figure.snip1432 figcaption > div {
            height: 50%;
            overflow: hidden;
            width: 100%;
            position: relative;
        }

    figure.snip1432 h2,
    figure.snip1432 h3 {
        margin: 0;
        position: absolute;
        left: 0;
        padding: 0 30px;
        text-transform: uppercase;
    }

    figure.snip1432 h2 {
        font-weight: 900;
        top: 0;
    }

    figure.snip1432 h3 {
        font-size: 1em;
        bottom: 0;
        font-weight: 500;
    }

        figure.snip1432 h3:nth-of-type(2) {
            opacity: 0;
            -webkit-transform: translateY(150%);
            transform: translateY(150%);
        }

    figure.snip1432 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }

    figure.snip1432:hover img,
    figure.snip1432.hover img {
        opacity: 0.3;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    figure.snip1432:hover figcaption h3:first-of-type,
    figure.snip1432.hover figcaption h3:first-of-type {
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
        opacity: 0;
    }

    figure.snip1432:hover figcaption h3:nth-of-type(2),
    figure.snip1432.hover figcaption h3:nth-of-type(2) {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: auto;
    grid-row-gap: 1em;
    grid-column-gap: 3em;
}
    .item1 {
        grid-column: 1/2;
    }
    .item2 {
        grid-column: 2/3;
    }
    .item3 {
        grid-column: 3/4;
    }
    .item4 {
        grid-row-start: 2;
    }
.item5 {
    grid-row-start: 2;
    grid-column: 2/3;
}

@media(max-width: 715px) {
    .wrapper {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 1fr 1fr ;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-row-gap: 1em;
        grid-column-gap: 3em;
    }

    .item1 {
        grid-column: 1/2;
    }

    .item2 {
        grid-column: 2/3;
    }

    .item3 {
        grid-row-start: 2;
        grid-column:1/2;
    }

    .item4 {
        grid-row-start: 2;
        grid-column: 2/3;
    }

    .item5 {
        grid-row-start: 3;
        grid-column: 1/2;
    }
}
